name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false   

      - name: Setup Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: A-Schlagan
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark

      - name: Push snake to output branch
        run: |
          git fetch origin output || git checkout --orphan output
          git checkout output || git checkout -b output
          git rm -rf .
          cp -r dist/* .
          git add .
          git commit -m "Update Snake animation" || echo "No changes to commit"
          git push origin output --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
